h1 {
	text-align: center;
	font-size: 24px;
	padding: 20px;
}
td {
	padding-left: 50px;
}

ul#ArtistsList {
	height: 100%;
	overflow: auto;
}

td#AlbumsView {
	width: 50%;
}

ul#AlbumsList {
	height: 100%;
	overflow: auto;
}

ul#SongsList {
	height:100%;
	overflow: auto;
}